.image {
  margin-bottom: 20px;
  margin-top: 10px;
  width: 100%; /* Ensure the image takes the full width of the container */
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

.carouselContainer {
  margin-bottom: 20px;
  margin-top: 10px;
  width: 70%;
  height: auto;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  max-width: 100%; /* Ensure it doesn't exceed the viewport width */
}
