.carouselContainer {
  width: 70%;
  height: auto;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  max-width: 100%; 
}

.image {
  margin-bottom: 20px;
  margin-top: 10px;
  width: 100%; 
  object-fit: cover;
  border-radius: 8px;
}


@media screen and (max-width: 830px) {
  .carouselContainer {
    width: 80%;
    margin-left: 15px;
  }

}